<div class="container">
  <div> <h1>Create New Restaurant</h1></div>

<!--  <%#= form_with model: @restaurant do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%# end %>-->

  <%= simple_form_for (@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Create Restaurant", class:"btn btn-primary"  %>
  <% end %>

</div>